@model ShoppingCartVM

<section class="checkout">

    <div class="container">
      

        <div class="ordersummary">
            <h1>My Cart</h1>
            <div class="items">


                @foreach(var item in Model.CartsList){

                <div class="item_cart">
                    <img src="~/@item.Product.ProductImg" alt="">

                    <div class="content">
                        <h4>@item.Product.ProductName</h4>
                        <p class="pricr_cart">Pricr: <span>$@item.Product.ProductPrice</span> </p>
                    </div>
                    <div class="btn-group" role="group">

                        <a class="btn btn-primary" asp-action="Plus" asp-route-cartid="@item.Id">+</a>
                        <span style="margin:5px;">@item.Count</span>
                       <a class="btn btn-primary" asp-action="Minus" asp-route-cartid="@item.Id">-</a>

                    </div>
                        <div class="btn-group" role="group">

                            <a asp-action="Remove" asp-route-cartid="@item.Id" class="btn btn-danger"><span class="delete_item"><i class="fa-solid fa-trash-can"></i></span></a>

                        </div>
                </div>

                }





                
                <div class="total">
                    <p>Total</p>
                    <span>$@Model.TotalCarts.ToString()</span>
                </div>

                <div class="button_div">
                    <a asp-action="Summary">
                        <button>Checkout</button>
                    </a>
                </div>

            </div>

        </div>
    </div>
</section>
